*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #e9ecef;
}
.container{
    background-color: #e9ecef;

}
html{
    font-size: 62.5%;
}
.nav-bar{
    background-color: #10266b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 20rem;
    background-color: #10266b;
}
.nav-bar>H1{
    color: #ffff;
    font-size: 4rem;
    padding-right: 2rem;
    background-color: #10266b;
}
.signin{

}
form>label{
    font-size: 3rem;
    margin-bottom: 2rem;   
}
input{
    width: 30rem;
    height: 5rem;
    font-size: 2rem;
    padding-left: 1rem;
}
::-webkit-input-placeholder{
    font-size: 2rem;
    padding-left: 1rem;
}
#login{
    font-size: 2rem;
    font-weight: 900;
    padding: 1rem;
    width: 12rem;
    border: 1px solid black;
}
.button{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
}
#login:hover{
    color: #ffff;
    background-color: #10266b;
}
.button>a{
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    padding: 4rem;
}
.button>a:hover{
    color: #10266b;
}
@media(max-width:983px){
    html{
        font-size: 50%;
    }
}
@media(max-width:445px){
    html{
        font-size: 40%;
    }
    .nav-bar>a{
        font-size: 3rem;
    }
}
@media(max-width:227px){
    html{
        font-size: 35%;
    }
    .nav-bar>a{
        font-size: 2rem;
    }
}